<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodbank.module.trade.order.mapper.DispatchOrderMapper">

    <select id="selectPendingDirectSupplyOrders" resultType="com.foodbank.module.trade.order.entity.DispatchOrder">
        SELECT o.* FROM fb_order o
        JOIN fb_goods g ON o.goods_id = g.goods_id
        WHERE o.order_type = 1
        AND o.status = 0
        AND o.dest_id IS NULL
        AND g.stock > 0
        AND g.category IN
        <foreach item="cat" collection="categories" open="(" separator="," close=")">
            #{cat}
        </foreach>
    </select>

</mapper>